# Problema 2

## Compa침eros de habitaci칩n.

Compruebe el algoritmo para obtener los compromisos a existir.

In [1]:
import numpy as np
import pandas as pd
import random as random

Primero generamos a nuestros compa침eros. En este caso, crearemos solamente a cinco personas. Esas cinco personas estaran definidas por indice. Por ejemplo, en este caso, tenemos a las siguientes 6 personas.

In [34]:
personas=['Magaly','Ricardo','Valeria','Emmanuel','Sofia','Arturo']

serie={'Nombre':pd.Series(personas,index=['Magaly','Ricardo','Valeria','Emmanuel','Sofia','Arturo'])}
a=pd.DataFrame(serie)
a

            Nombre
Magaly      Magaly
Ricardo    Ricardo
Valeria    Valeria
Emmanuel  Emmanuel
Sofia        Sofia
Arturo      Arturo

Aqui podemos ver como cada nombre tiene su propio numero asociado. Esto sera para el procedimiento de m치s adelante. Ahora, formaremos la lista de como cada quien prefiere a su pareja.

In [43]:
#persona1=[a.iloc[1,0],a.iloc[4,0],a.iloc[2,0],a.iloc[5,0]]
#persona2=[a.iloc[4,0],a.iloc[0,0],a.iloc[5,0],a.iloc[2,0]]
#persona3=[a.iloc[0,0],a.iloc[4,0],a.iloc[1,0],a.iloc[3,0]]
persona4=[a.iloc[4,0],a.iloc[5,0],a.iloc[1,0],a.iloc[0,0]]
#persona5=[a.iloc[1,0],a.iloc[2,0],a.iloc[3,0],a.iloc[5,0]]
#persona6=[a.iloc[3,0],a.iloc[0,0],a.iloc[1,0],a.iloc[3,0]]

persona1=['Ricardo','Sofia','Valeria','Arturo']
persona2=['Sofia','Magaly','Arturo','Valeria']
persona3=['Magaly','Sofia','Ricardo','Emmanuel']
#persona4=['Sofia','Arturo','Valeria','Magaly'],
persona5=['Ricardo','Valeria','Emmanuel','Arturo']
persona6=['Emmanuel','Magaly','Ricardo','Valeria']

seleccionado=[persona1,
              persona2,
              persona3,
              persona4,
              persona5,
              persona6]

decision=[[a.iloc[1,0],a.iloc[4,0],a.iloc[2,0],a.iloc[5,0]],
        [a.iloc[4,0],a.iloc[0,0],a.iloc[5,0],a.iloc[2,0]],
        [a.iloc[0,0],a.iloc[4,0],a.iloc[1,0],a.iloc[3,0]],
        [a.iloc[4,0],a.iloc[5,0],a.iloc[2,0],a.iloc[0,0]],
        [a.iloc[1,0],a.iloc[2,0],a.iloc[3,0],a.iloc[5,0]],
        [a.iloc[3,0],a.iloc[0,0],a.iloc[1,0],a.iloc[2,0]]]

tabla=pd.DataFrame(decision,index=personas)
#tabla=pd.DataFrame(seleccionado,index=personas,columns={'Primera opcion','Segunda opcion','Tercera opcion','Cuarta opcion'})
tabla

                 0        1         2         3
Magaly     Ricardo    Sofia   Valeria    Arturo
Ricardo      Sofia   Magaly    Arturo   Valeria
Valeria     Magaly    Sofia   Ricardo  Emmanuel
Emmanuel     Sofia   Arturo   Valeria    Magaly
Sofia      Ricardo  Valeria  Emmanuel    Arturo
Arturo    Emmanuel   Magaly   Ricardo   Valeria

In [44]:
tabla.iloc[0]

0    Ricardo
1      Sofia
2    Valeria
3     Arturo
Name: Magaly, dtype: object

In [45]:
seleccion={'Magaly':pd.Series(persona1),
           'Ricardo':pd.Series(persona2),
           'Valeria':pd.Series(persona3),
           'Emmanuel':pd.Series(persona4),
           'Sofia':pd.Series(persona5),
           'Arturo':pd.Series(persona6)}
s=pd.DataFrame(seleccion)
s

    Magaly  Ricardo   Valeria Emmanuel     Sofia    Arturo
0  Ricardo    Sofia    Magaly    Sofia   Ricardo  Emmanuel
1    Sofia   Magaly     Sofia   Arturo   Valeria    Magaly
2  Valeria   Arturo   Ricardo  Ricardo  Emmanuel   Ricardo
3   Arturo  Valeria  Emmanuel   Magaly    Arturo   Valeria

Vemos que cada persona tiene solamente cuatro opciones. Para esto, entonces debemos saber las propuestas que todos hicieron para saber quien acepto propuesta y quien no.

In [54]:
n=6
parejas=[None]*n
personas=[None]*n

numero=0
numero2=0
i=0

while (i<=3):
    persona=a.iloc[numero,0]

    preferencias=s.iloc[numero]
    persona2=a.iloc[numero2,0]

    preferencias2=s.iloc[:,numero2]
    pareja=personas[numero2]
    
    if (pareja==None):
        personas[numero2]=persona
        parejas[numero]=persona2
        numero+=1
        numero2=0
        i+=1
    else:
        indice=preferencias2.index[numero]
        indice_persona1=preferencias2.index[numero2]
        if indice>indice_persona1:
            personas[numero2]=persona
            parejas[numero]=persona2
            numero+=1
            numero2=0
            i+=1
        else:
            numero2+=1

final={'Persona 1':pd.Series(personas),
      'Persona 2':pd.Series(parejas)}
pintar=pd.DataFrame(final)
pintar

  Persona 1 Persona 2
0   Valeria    Magaly
1   Ricardo     Sofia
2  Emmanuel    Arturo